<mat-card>
    <mat-card-content>
      <mat-toolbar class="mat-card-title" color="primary">
        {{ fornCardTitle }}
      </mat-toolbar>
  
      <form [formGroup]="demoFormGroup" (ngSubmit)="onFormSubmit($event)">
  
          <mat-form-field class="full-width">
          <mat-label>{{ input1Label }}</mat-label>
          <input
            matInput
            placeholder="{{ input1Placeholder }}"
            formControlName="{{ input1ControlNane }}"
          />
        </mat-form-field>
  
        <!-- The @angular-material-components/datetime-picker -->
        <mat-form-field class="full-width">
        <input
          matInput
          [ngxMatDatetimePicker]="picker"
          formControlName="{{ dt1ControlName }}"
        />
  
        <ngx-mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></ngx-mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
        
        </mat-form-field>
        <!-- ----------------------------------------------- -->
  
        <mat-card-footer>
          <mat-card-actions>
            <button mat-raised-button type="submit" color="accent">
              {{ submitButtomText }}
            </button>
          </mat-card-actions>
        </mat-card-footer>
  
      </form>
    </mat-card-content>
  </mat-card>
  